body{
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(royalblue, red, green, royalblue);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(red, green, royalblue, red);
}
.thumbnail{
    text-align: center;
    img{
        width: 250px;
        margin: 65px auto 30px;
        border-radius: 10px;
        box-shadow: 8px 2px 30px rgb(105, 105, 105);
    }
}
.heading{
    position: sticky;
    top: 0;
    text-align: center;
    padding: 15px 0px;
    /* background: rgba(255, 255, 255, 0.7); */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    h2{
        margin: 0;
    }
    p{
        margin: 10px 0 13px;
        color: gray;
    }
    .modes button{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin: auto 5px;
        background-color: white;
        border: 1px solid black;
        transition: all 0.2s;
    }
    .modes button:hover{
        filter: invert(1);
    }
}
.content{
    padding: 70px 20px 20px;
    font-weight: bold;
    width: max-content;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.accordion-body, .accordion-button{
    font-weight: bold;
}
.accordion-item, .accordion-button{
    background-color: transparent !important;
}
.space{
    margin-left: 80px;
}